@import 'node_modules/nib'

/*
 * Style adds
 */

.banned_user_line
	background-color: black
	color: white

.inline_purge
	width: 18px
	margin-left: -5px
	margin-right: -5px

.bttvdiv
	margin: 0px auto


/*
 * Style edits
 */

#chat-narrowed
	#chat_column
		margin-top: 20px
		width: 315px
	
	.c12
		width: 1000px

	.chat_box
		width: 95%

#chat-expanded
	#chat_column
		width: 410px
		margin-top: 20px

	.c12
		width: 1100

	.chat_box
		width: 97%

#chat_column
	border-radius: 5px
	background: #ffffff
	padding: 5px 5px 0px 5px
	margin-left: -10px

#extra_colors
	display: inline

#chat_lines
	overflow-x: hidden
	overflow-y: auto
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

	width: 300px !important

#chat_line_list
	font-size: 13.33333px
	line-height: 17.333333px
	width: 100%
	padding: 0 !important

.dark-chat
	#chat_column
		background-color: #111
	#chat_lines
		background-color: #111
		color: #eee
		border: #fff
	#chat_text_input
		background-color: #000
		color: #fff
		border: solid 1px #666

#sub-link
	display: none

#right_col
	.scroll.stretch
		bottom: 110px !important